#parse( "/templates/macros.vm" )
<html>
    <body>
        <h3>#msg("legalDisclosures.title.h3_1")</h3>

        <div>
            #msg("legalDisclosures.text.div_1")
        </div>
    </body>
</html>