#parse( "/templates/macros.vm" )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Vivanuncios</title>
</head>
<body leftmargin="0" topmargin="0" bottommargin="0" rightmargin="0" bgcolor="#FFFFFF" style="margin: 0; padding: 0; width:100%; min-width:400px; max-width:800px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
<tr>
<td height="50" colspan="3" align="left" bgcolor="#00d9dc" scope="col" style="padding-top: 20px; padding-right: 50px; padding-bottom: 30px; padding-left: 50px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#ffffff; font-size:19px;font-weight:bold;">
<a href="$webUrl"><img src="$logoUrl" alt="Vivanuncios" width="132" height="49" /></a>
</td>
</tr>
<tr>
<td colspan="3" bgcolor="#f7f7f7" height="50"> </td>
</tr>
<tr>
<td bgcolor="#f7f7f7" width="50"> </td>
<td bgcolor="#f7f7f7" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:16px; color:#666666; line-height:26px;">
<font face="Helvetica Neue, Helvetica, Arial, sans-serif" color="#666666"><p>#msg("email.greeting")&nbsp;<strong>$params.get('user.username')</strong>#msg("email.greeting2")</p>
<p>
#msg("email.welcomecredentials.line")
<br />
<br />
#msg("email.welcomecredentials.line2")
<br />
<br />
#msg("email.welcomecredentials.line3")
<font face="Helvetica Neue, Helvetica, Arial, sans-serif"><strong> $params.get('user.email')</strong></font>
<br />
#msg("email.welcomecredentials.line4")
<font face="Helvetica Neue, Helvetica, Arial, sans-serif"><strong> ${params.newPassword}</strong></font>
<br />
<br />
#msg("email.welcomecredentials.line5")
</p>
<br />
<p>#msg("email.signature.line1")</p>
<p>#msg("email.signature.line2")<br />
<strong>#msg("email.signature.line3")</strong>
</p>
</font>
</td>
<td bgcolor="#f7f7f7" width="50"> </td>
</tr>
<tr>
<td colspan="3" bgcolor="#f7f7f7" height="90"> </td>
</tr>
</table>
</body>
</html>